body
	font:
		family:  "Trebuchet MS", Helvetica, sans-serif
		size: 10pt
	margin: 0
	padding:
		top: 0
	text:
		align: center
	
	width: auto

html 
	@extend body
		
div
	position: relative
	
	&#wrapper
		border:
			left: 2px solid #DDD
			right: 2px solid #DDD
		display: block
		height: 100%
		padding: 0.5em
			top: 0
		margin: 0 auto
		text:
			align: left
		width: 1024px
		
		
		& header
			background:
				color: #8B4500
			border: none
			display: block
			height: auto
			margin:
				top: 0
				left: -0.5em
				right: -0.5em

			h1
				color: #FFFFFF
	
	&#body
		display: block