div
	&.error_explanation
		background
			color: #EEEEEE
		border: 2px solid #CC1100
		margin-bottom: 2em
		padding: 0.3em
		h2:first-child
			background:
				color: #FFE4E1
			color: #CC1100
			border: 2px solid #CC1100
			border-bottom: none
			margin:
				left: -0.3em
				right: -0.3em
				top: -0.3em
			padding: 0.4em
			
	&.field_with_errors
		label
			color: #CC1100
		input
			border: 2px solid #CC1100